{% extends 'base.html' %}

{% block title %}Yeni Ürün Ekle{% endblock %}

{% block content %}
    <h2>Yeni Ürün Ekle</h2>
    <form method="post">
        <div class="mb-3">
            <label>Ürün Adı</label>
            <input type="text" class="form-control" placeholder="Örn: Anakart">
        </div>
        <div class="mb-3">
            <label>Kategori</label>
            <input type="text" class="form-control" placeholder="Örn: Elektronik">
        </div>
        <div class="mb-3">
            <label>Adet</label>
            <input type="number" class="form-control" placeholder="Örn: 10">
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
        <a href="#" class="btn btn-secondary">İptal</a>
    </form>
{% endblock %}

